@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
  .about {
    min-height: auto;
  }
  .contact .contact-form .form-box {
    margin: 0 auto;
  }

  .skills .education {
    border: none;
  }
}
@media (max-width: 768px) {
  .home {
    margin: 0;
    padding: 0;
    max-height: 500px;
  }
  .left {
    height: 50rem;
  }
  .home .text h1 {
    font-size: 4rem;
  }
  .home .text h2 .typing {
    font-size: 2rem;
  }
  .home .text {
    top: -60%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .home .maple {
    width: 6rem;
    height: 6rem;
  }
  .home .maple-left {
    top: -100%;
    width: 6rem;
    height: 6rem;
  }
  .about {
    min-height: auto;
    margin: 0;
  }
  .about .about-image .image-girl {
    width: 400px;
    height: 400px;
  }
  .about .about-details h1 {
    padding-left: 0;
  }
  .about .about-details ul {
    padding-left: 0;
  }
  .contact .contact-form .form-box {
    margin: 0 auto;
  }

  .skills .skills-list {
    flex-direction: column !important;
    align-items: center !important;
  }
  .skills .education {
    border: none;
    padding: 0;
    width: 100% !important;
  }

  .skills .row {
    flex-direction: column;
  }
  .skills .bars-list {
    padding: 0;
    width: 100% !important;
  }
  footer {
    padding: 0;
  }
  footer .footer-text {
    font-size: 1.2rem;
  }
  footer .footer-box-icon {
    padding: 3rem;
  }
}

/* @media (max-width: 650px) {
  .skills .bars-list {
    width: 100% !important;
  }
} */
@media (max-width: 450px) {
  .home {
    margin: 0;
    padding: 0;
    max-height: 400px;
  }
  .left {
    height: 40rem;
  }
  .home .maple-left {
    top: -110%;
    left: 15%;

    width: 5rem;
    height: 5rem;
  }
  .home .maple {
    top: -60%;
    left: 80%;

    width: 5rem;
    height: 5rem;
  }
  .about {
    margin: 0 auto;
  }
  .about .about-image .image-girl {
    width: 300px;
    height: 300px;
  }
  .about .about-deatails-item {
    width: 130px;
    font-size: 1.3rem;
  }
  .about .about-deatails-item-name {
    font-size: 1rem;
  }
  .skills {
    padding: 15px;
  }

  .skills .education {
    padding: 0px 10px;
  }
  .skills .education p {
    font-size: 13px;
  }
  .skills .bars-list {
    width: 100% !important;
  }
  .contact .contact-form .form-box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .contact .contact-form form h1 {
    font-size: 1.7rem;
  }
  .contact .contact-form form #textId {
    width: 200px;
  }
  .contact .contact-form form #message {
    width: 200px;
  }
  .contact .contact-form form #sendbtn {
    margin-left: 90px;
  }
  footer {
    height: auto;
    text-align: justify;
  }
  footer .footer-box-icon i {
    font-size: 3rem;
  }
  footer .footer-box-icon .git-icon {
    margin-left: 1rem;
  }
  footer .footer-box-icon .envelope-icon {
    padding-left: 1rem;
  }
  footer {
    padding: 10px 0;
  }
  footer .footer-text {
    font-size: 1.2rem;
    text-align: center;
  }
}
